#e7_2 { 
	overflow:hidden;
	background-color:rgba(29.96250182390213, 34.19317960739136, 76.50000303983688, 1);
	opacity:1;
	width:100%;
	height:100%;
	position:absolute;
}
#e7_3 { 
	opacity:1;
	width:224px;
	height:216px;
	position:absolute;
	left:1661px;
	top:23px;
}
a{
	display: block;
	border-radius: 5px;
	color:rgb(0, 0, 0);
}
a:hover{
	color:rgb(10, 32, 128);

}

#e7_4 { 
	border-radius:500px;
	opacity:1;
	width:224px;
	height:216px;
	position:absolute;
	left:0px;
	top:0px;
}


#e7_5 { 
	opacity:1;
	width:120.36276245117188px;
	height:132.71641540527344px;
	position:absolute;
	left:76.98331451416016px;
	top:57.14178466796875px;
	background-image:url(images/ewomen_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e7_6 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:518px;
	height:97px;
	position:absolute;
	left:55px;
	top:34px;
	font-family:Poppins;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:undefined;
}
#e7_40 { 
	opacity:1;
	width:286px;
	height:326px;
	position:absolute;
	left:89px;
	top:156px;
}
#e7_30 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:250px;
	height:250px;
	position:absolute;
	left:0px;
	top:-21px;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
}
#e7_33 { 
	opacity:1;
	width:284px;
	height:274px;
	position:absolute;
	left:-14px;
	top:-67px;
	background-image:url(download-removebg-preview.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e7_36 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:246px;
	height:66px;
	position:absolute;
	left:-7px;
	top:165px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e7_42 { 
	opacity:1;
	width:286px;
	height:326px;
	position:absolute;
	left:91px;
	top:604px;
}
#e7_43 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:250px;
	height:250px;
	position:absolute;
	left:0px;
	top:-180px;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
}
#e7_44 { 
	opacity:1;
	width:284px;
	height:274px;
	position:absolute;
	left:-20px;
	top:-225px;
	background-image:url(download-removebg-preview.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e7_45 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:246px;
	height:66px;
	position:absolute;
	left:6px;
	top:9px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e7_41 { 
	opacity:1;
	width:288px;
	height:335px;
	position:absolute;
	left:573px;
	top:147px;
}
#e7_31 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:250px;
	height:250px;
	position:absolute;
	left:-45px;
	top:-15px;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
}
#e7_34 { 
	opacity:1;
	width:287px;
	height:292px;
	position:absolute;
	left:-60px;
	top:-60px;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
	background-image:url(download-removebg-preview.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e7_37 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:210px;
	height:41px;
	position:absolute;
	left:-18px;
	top:171px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e7_39 { 
	opacity:1;
	width:286px;
	height:335px;
	position:absolute;
	left:1017px;
	top:147px;
}
#e7_32 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:250px;
	height:250px;
	position:absolute;
	left:-67px;
	top:-15px;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
}
#e7_35 { 
	opacity:1;
	width:265px;
	height:295px;
	position:absolute;
	left:-80px;
	top:-65px;
	background-image:url(download-removebg-preview.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e7_38 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:218px;
	height:50px;
	position:absolute;
	left:-50px;
	top:177px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e7_77 { 
	opacity:1;
	width:770px;
	height:136px;
	position:absolute;
	left:701px;
	top:777px;
}
#e7_75 { 
	background-color:rgba(117.14061588048935, 120.3015598654747, 148.7499949336052, 1);
	opacity:1;
	width:770px;
	height:136px;
	position:absolute;
	left:-259px;
	top:-290px;
	border-top-left-radius:35px;
	border-top-right-radius:35px;
	border-bottom-left-radius:35px;
	border-bottom-right-radius:35px;
}
#e7_76 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:690px;
	height:104px;
	position:absolute;
	left:-225px;
	top:-250px;
	font-family:Red Hat Display;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:undefined;
}
